<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title></title>
	
</head>
<body>
  <center margin="4.0">
<p>Please register below.<br>
</p>
<form action="{{page}}" method="post"> <label for="uname">Username:</label><br>
<input id="uname" name="uname" value="" type="text"><br>
<label for="pwd">Password:</label><br>
<input id="pwd" name="pwd" value="" type="text"><br>
<br>
<input value="Submit" type="submit"> </form>
</div>
</center>

</body>
</html>
