{% extends "base.html" %} {% block title %}Create Account{% endblock %} {% block content
%}	
	<h2 class="heading register_h2">Register</h2>

<section class="register_section">
		<form class="register_form" action="/register" method="POST">	

					<div class="register_inputs labels">
							<label class="labels_inputs" for="firstname">First name:</label>
							<label class="labels_inputs" for="lastname">Last name:</label>
							<label class="labels_inputs" for="email">Email:</label>
							<label class="labels_inputs" for="password">Password:</label>

					</div>
						<div class="register_inputs user_details">
							<input class="labels_inputs username_input" type="text" placeholder=" Enter First name" name="firstname" required>
							<input class="labels_inputs username_input" type="text" placeholder=" Enter Last name" name="lastname" required>
							<input class="labels_inputs username_input" type="text" placeholder=" Enter Email" name="email" required>
							<input class="labels_inputs" type="text" placeholder="Enter Password" name="password" required>
								</div>
							
							{% if error_msg %}
									<p class="error_login">{{error_msg}}</p>
							{% endif %}



<div class="register_btn"><button type="submit" class="submit_button">Register</button></div>
		<div class="go_back_div"> <a class="go_back" href="{{ url_for('.products') }}">Back</a></div>

</form>
</section>

{% endblock %}
